.navbar{
    background-color: grey;
}
.color-black{
   color:black 
}
.background-white{
    background-color: white;
}
.border-black{
    border:2px solid black !important;
    border-radius: 0 !important;
}
.text-big{
    font-size:1.4em;
}
.bottom-zero{
    margin-bottom: 0px;
}

.margin-5{
    margin-bottom: 5px;
}
.back-grey{
    background-color: grey;
}
.left-right{
border-color: black;
border-left: 2px solid;
border-right: 2px solid;
}
.top-border-no{
    border-color: black;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
}